%div{:class => "chatbox" ,:data_messageid => "#{message.id}"}
  .chatbox__data
    %span.chatbox__data__name
      = message.user.name
    %span.chatbox__data__date
      = message.created_at.strftime("%Y-%m-%d %H:%M:%S")
  .chatbox__gap
  .chatbox__chat
    %span.chatbox__message
      = message.text
