%div.top

  %div.homeBar

    %div.namebox

      %span.namebox__name
        Takeru

      %div.namebox__icons
        %i.fa.fa-pencil-square-o.namebox__icons--pen
        %i.fa.fa-cog.namebox__icons--gear

  %div.topBar


%div.main

  %div.side

    %div.groupArea

      %div.groupbox
        %div.groupbox__name
          %span.groupbox__name--size-15 aaa
        %div.groupbox__message
          %span.groupbox__message--size-11 hellohello

  %div.content

    %div.chatArea
    %div.inputArea
