%div.top

  %div.homeBar

    %div.namebox

      %span.namebox__name
        Takeru

      %div.namebox__icons
        %i.fa.fa-pencil-square-o.namebox__icons--pen
        %i.fa.fa-cog.namebox__icons--gear

  %div.topBar



%div.main

  %div.side

    %div.groupArea

  %div.content

    %div.chatArea
    %div.inputArea
