
.groupbox
  .groupbox__name
    =link_to "#{group.name}", group_path(group.id), class: "groupbox__name--size-15"
  .groupbox__message
    =link_to "hellohello", group_path(group.id), class: "groupbox__message--size-11"
