.top{
  min-height: 100px;
  width: 100%;
  .homeBar{
    float: left;
    height: 100px;
    width: 300px;
    background: #253141;
    border-bottom: ridge 1px #2f3e51;
  }

  .topBar{
    float: left;
    background: #FFFFFF;
    width: calc(100% - 300px);
    border-bottom: ridge 1px #eeeeee;
    min-height: 100px;
  }

  .topBar__index{
    float: left;
    background: #FAFAFA;
    width: calc(100% - 300px);
    min-height: 101px;
  }
}

.main{
  height: calc(100vh - 100px);
  width: 100%;
  .side{
    width: 300px;
    height: 100%;
    float: left;
    overflow-y: auto;
    .groupArea{
      min-height: 100%;
      background: #2f3e51;
    }
  }

  .content{
    float: left;
    width: calc(100% - 300px);
    height: 100%;
    overflow-y: auto;
    .chatArea{
      min-height: calc(100% - 90px);
      background: #FAFAFA;
      padding: 0 40px;
    }

    .inputArea{
      width: calc(100% - 300px);
      height: 90px;
      position: fixed;
      bottom: 0px;
      background: #DDDDDD;
    }
  }

  .content__index{
    float: left;
    width: calc(100% - 300px);
    height: 100%;
    overflow-y: auto;
    background:#FAFAFA;
  }
}

.flashbox--color-red{
   background: #d65f4c;
   text-align: center;
   color: #FFFFFF;
   height: 25px;
   line-height: 25px;
   width: 100vw;
}


.flashbox--color-blue{
   background: #38AEF0;
   text-align: center;
   color: #FFFFFF;
   height: 25px;
   line-height: 25px;
   width: 100vw;
}
