.top{
  min-height: 100px;
  position: fixed;
  width: 100vw;

  .homeBar{
    float: left;
    height: 100px;
    width: 300px;
    background: #253141;
  }

  .topBar{
    float: left;
    background: #FFFFFF;
    width: calc(100vw - 300px);
    border-bottom: ridge 1px #eeeeee;
    min-height: 100px;
  }
}

.main{
  height: calc(100vh - 125px);
  padding-top: 125px;
  width: 100vw;
  .side{
    width: 300px;
    height: 100%;
    float: left;
    overflow-y: auto;
    .groupArea{
      min-height: 100%;
      background: #2f3e51;
      min-height: 100%;
    }
  }

  .content{
    float: left;
    width: calc(100vw - 300px);
    height: 100%;
    overflow-y: auto;
    .chatArea{
      min-height: calc(100% - 90px);
      background: #FAFAFA;
      padding: 0 40px;
    }

    .inputArea{
      width: calc(100% - 300px);
      height: 90px;
      background: #DDDDDD;
      position: fixed;
      bottom: 0px;
      right: 0px;
    }
  }

}

.flashbox{
   background: #38AEF0;
   text-align: center;
   height: 25px;
   line-height: 25px;
  &__message{ 
   color: #FFFFFF;
  }
}
