.namebox{
  width: 260px;
  padding: 36px 20px;
  &__name{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
  }
  &__icons{
    float: right;
    &--pen{
      color: #FFFFFF;
      font-size: 20px;
    }
    &--gear{
      color: #FFFFFF;
      font-size: 20px;
    }
  }
}
